
.ad-view__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0;

    @media (max-width: 1150px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.ad-view__slider, .ad-view__info {
    max-width: 650px;
    width: 100%;
    margin: 10px;
}

.ad-view__slider {
    img {
        object-fit: cover;
    }

    @media (max-width: 665px) {
        width: 400px;
        img {
            height: 290px;
        }
    }

    @media (max-width: 415px) {
        width: 300px;
        img {
            height: 200px;
        }
    }
}
